@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

:root {
  --bordercolor: #aaaaaa;
  --textcolor: #434343;
}


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding:1em;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  color: var(--textcolor);
  transition: max-height 0.2s ease-out;
}

.panel ul {
  padding: 4px;
}
.panel li {
  padding-bottom: 8px;
}

.inline-li-img {
  height: 14px;
  width: 14px;
  vertical-align: middle;
}