
.product-card {
    width: 100%;
    
}

.product-card img {
    height: 200px;
}

.card-body a {
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 16px !important;
}

.website-icon {
    height: 16px !important;
    width: 16px !important;
    margin-left: 6px;
}

.card-title {
    color: black;
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 14px !important;
    font-weight: bold;
}

footer a{
    text-decoration: none;
    font-size: 30px;
}

#category-selector {
    font-size: 14px;
    border: 1px solid #fff0;
    color: #fff;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    max-width: 500px;
    cursor: pointer;
}