
.product-card {
    width: 100%;
}

.card-body a {
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 12px !important;
}

footer a{
    text-decoration: none;
    font-size: 30px;
}