:root {
    --productImageHeight: 200px;
  }


.product-card {
    width: 100%;
}

.product-card img {
    height: var(--productImageHeight);
    
}

.card-body {
    padding: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.card-body a {
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 16px !important;
}

.card-body:hover > .title-div-container > .tooltiptext {
    visibility: visible;
}

.website-icon {
    height: 16px !important;
    width: 16px !important;
    margin-left: 6px;
}

.card-title {
    position: relative;
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 10px !important;
    padding: 5px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: normal;
}

.tooltiptext {
    display: block;
    position: absolute;
    visibility: hidden;
    z-index: 10;
    min-width: 100%;

    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10px !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: normal;
}


footer a{
    text-decoration: none;
    font-size: 30px;
}

#category-selector {
    font-size: 14px;
    border: 1px solid #fff0;
    color: #fff;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    max-width: 500px;
    cursor: pointer;
}